<!DOCTYPE html>

<head lang="en">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="pragma" content="no-cache" />
  <title>ADPBOT</title>

  <link rel="shortcut icon" href="./../assets/images/iconjrh.png" />

  <!-- Bootstrap v4.6 -->
  <link rel="stylesheet" href="./../plugins/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="./../plugins/select2/css/select2.min.css" />
  <link
    rel="stylesheet"
    href="./../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css"
  />
  <link
    rel="stylesheet"
    href="./../plugins/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css"
  />
  <link
    rel="stylesheet"
    href="./../plugins/bs-stepper/css/bs-stepper.min.css"
  />

  <!-- jQuery -->
  <script
    type="text/javascript"
    src="./../plugins/jquery/jquery.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/moment/moment.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/masked-input/masked-input.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/inputmask/jquery.inputmask.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/bootstrap/js/bootstrap.bundle.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables/jquery.dataTables.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-responsive/js/dataTables.responsive.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-buttons/js/dataTables.buttons.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-buttons/js/buttons.html5.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-buttons/js/buttons.print.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/datatables-buttons/js/buttons.colVis.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/select2/js/select2.full.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/inputmask/jquery.inputmask.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/popper/popper.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/bs-stepper/js/bs-stepper.min.js"
  ></script>
  <script
    type="text/javascript"
    src="./../plugins/bootbox/bootbox.min.js"
  ></script>
</head>
