<div class="dropdown col-12">
  <button
    class="btn btn-info col-12 dropdown-toggle"
    type="button"
    id="dropdownMenuButton"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="./../validacion">
      <h6 class="nav-link" style="font-size: 14px !important">Validador</h6>
    </a>

    <a class="dropdown-item" href="./../VisualizadorAuto">
      <h6 class="nav-link" style="font-size: 14px !important">Visualizador</h6>
    </a>
    <a class="dropdown-item" href="./../bajas">
      <h6 class="nav-link" style="font-size: 14px !important">Bajas</h6>
    </a>

    <a class="dropdown-item" href="./../anulaciones">
      <h6 class="nav-link" style="font-size: 14px !important">Anulaciones</h6>
    </a>

    <a class="dropdown-item" href="./../formulario885">
      <h6 class="nav-link" style="font-size: 14px !important">
        Formulario 885
      </h6>
    </a>

    <!-- <a class="dropdown-item" href="./../indumentaria">
        <h6 class="nav-link" style="font-size: 14px !important;">Indumentaria</h6>
      </a>

      <a class="dropdown-item" href="./../cargaDeUsuarioAFIP">
        <h6 class="nav-link" style="font-size: 14px !important;">Carga de Usuario y Pasword AFIP</h6>
      </a> -->
  </div>
</div>
