<style>
  .formulario-tab {
    display: none;
  }
  .formulario-tab.active {
    display: block;
  }

  .nav-tabs .nav-link:not(.active) {
    color: #495057;
  }

  .nav-tabs .nav-item .active {
    color: var(--info);
  }

  .cuil-list {
    height: 250px;
    overflow-y: auto;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .cuil-list-item {
    margin-bottom: 5px;
  }

  li {
    list-style: none;
  }

  .cuilDiv {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    cursor: pointer;
  }

  .cuilDiv p {
    margin-bottom: 0;
  }

  .cuilDiv.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  .moreInf {
    display: inline-block;
    font-size: 16px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    margin-left: 10px;
  }
  .moreInf p {
    margin-bottom: 0;
  }
  .moreInf.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
</style>

<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="agregarCuil-tab"
        data-toggle="tab"
        href="#agregarCuil"
        role="tab"
        aria-controls="agregarCuil"
        aria-selected="true"
        >Agregar CUIL</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        id="editarCuils-tab"
        data-toggle="tab"
        href="#editarCuils"
        role="tab"
        aria-controls="editarCuils"
        aria-selected="false"
        >Editar CUILs</a
      >
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="agregarCuil"
      role="tabpanel"
      aria-labelledby="agregarCuil-tab"
    >
      <div class="row mt-2">
        <div class="col-md-3">
          <div class="form-group">
            <label for="cuil">Agregar CUIL:</label>
            <input
              type="text"
              class="form-control"
              id="cuil"
              name="cuil"
              placeholder="Ingrese el CUIL"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="administrada" class="form-label"
              >Nombre administrada:</label
            >
            <select
              class="form-control"
              id="administrada"
              name="administrada"
              aria-label="Default select example"
              aria-placeholder="Seleccionar..."
            >
              <option value="default" selected>Seleccione una opción</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="operacion" class="form-label"
              >Seleccione una operación:</label
            >
            <select
              class="form-control"
              id="operacion"
              name="operacion"
              aria-label="Default select example"
              aria-placeholder="Seleccionar..."
            >
              <option value="default" selected>Seleccione una opción</option>
              <option value="anulacion_alta">Anulación de alta</option>
              <option value="anulacion_baja">Anulación de baja</option>
              <option value="modificacion_ingreso">
                Modificación fecha de ingreso
              </option>
              <option value="modificacion_egreso">
                Modificación fecha de egreso
              </option>
              <option value="motivo_baja">Motivo de baja</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center align-items-start">
          <button
            type="submit"
            class="btn btn-success mt-4"
            id="btnAgregarCuil"
          >
            Agregar
          </button>
        </div>
      </div>
      <div>
        <h6 id="title" style="display: block">Cuils Agregados:</h6>
        <div id="cuilsAgregados"></div>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="editarCuils"
      role="tabpanel"
      aria-labelledby="editarCuils-tab"
    >
      <h3 class="mt-4">Seleccione el CUIL que desea editar:</h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <label>Lista de CUIL:</label>
            <div class="list-group" id="cuilsGroup"></div>
          </div>
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-primary w-100"
              id="openModal"
              style="display: none"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Título del modal</h4>
          <div id="datos_adicionalesCuil"></div>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <h5>Datos de AFIP</h5>
              <div class="form-group">
                <label for="empleado">Empleado:</label>
                <input
                  type="text"
                  class="form-control"
                  id="empleado"
                  name="input1"
                  value="Empleado"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="obra_social">Obra social:</label>
                <input
                  type="text"
                  class="form-control"
                  id="obra_social"
                  name="obra_social"
                  value="Obra social"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="mod_contrato">Mod. Contrato:</label>
                <input
                  type="text"
                  class="form-control"
                  id="mod_contrato"
                  name="mod_contrato"
                  value="Mod. Contrato"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="sucursal">Sucursal:</label>
                <input
                  type="text"
                  class="form-control"
                  id="sucursal"
                  name="sucursal"
                  value="Sucursal"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="actividad">Actividad:</label>
                <input
                  type="text"
                  class="form-control"
                  id="actividad"
                  name="actividad"
                  value="Actividad"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="convenio">Convenio:</label>
                <textarea
                  class="form-control"
                  id="convenio"
                  rows="4"
                  readonly
                ></textarea>
              </div>
              <div class="form-group">
                <label for="categoria">Categoria:</label>
                <input
                  type="text"
                  class="form-control no-resize"
                  id="categoria"
                  name="categoria"
                  value="Categoria"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="puesto">Puesto:</label>
                <input
                  type="text"
                  class="form-control"
                  id="puesto"
                  name="puesto"
                  value="Puesto"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="tipo_servicio">Tipo servicio:</label>
                <input
                  type="text"
                  class="form-control"
                  id="tipo_servicio"
                  name="tipo_servicio"
                  value="Tipo servicio"
                  readonly
                />
              </div>
              <!-- no -->
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="fecha_inicio"
                      name="fecha_inicio"
                      value="Fecha de inicio"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fecha_fin">Fecha de Fin:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="fecha_fin"
                      name="fecha_fin"
                      value="Fecha de Fin"
                      readonly
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="mod_liq">Mod. Liq:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="mod_liq"
                      name="mod_liq"
                      value="Mod. Liq"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="regimen">Regimen:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="regimen"
                      name="regimen"
                      value="Regimen"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="retr_pactada">Retr. pactada:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="retr_pactada"
                      name="retr_pactada"
                      value="Retr. pactada"
                      readonly
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="cat">C.A.T:</label>
                <input
                  type="text"
                  class="form-control"
                  id="cat"
                  name="cat"
                  value="C.A.T"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="cbt">C.B.T:</label>
                <input
                  type="text"
                  class="form-control"
                  id="cbt"
                  name="cbt"
                  value="C.B.T"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-6">
              <h5>Datos a editar</h5>
              <form class="sticky-top" id="datosEditados">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="fecha_inicio_edit">Fecha de inicio:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="fecha_inicio_edit"
                      name="fecha_inicio_edit"
                      value="Fecha de inicio"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fecha_fin_edit">Fecha de Fin:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="fecha_fin_edit"
                      name="fecha_fin_edit"
                      value="Fecha de Fin"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="motivo_baja_edit">Motivo de baja:</label>
                  <select
                    class="form-control"
                    id="motivo_baja_edit"
                    name="motivo_baja_edit"
                    aria-label="Default select example"
                    aria-placeholder="Seleccionar..."
                  >
                    <option value="default2" selected>
                      Seleccione una opción
                    </option>
                    <option value="anulacion_alta2">Anulación de alta</option>
                    <option value="anulacion_baja2">Anulación de baja</option>
                    <option value="modificacion_ingreso2">
                      Modificación fecha de ingreso
                    </option>
                    <option value="modificacion_egreso2">
                      Modificación fecha de egreso
                    </option>
                  </select>
                </div>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Cerrar
            </button>
            <button type="button" class="btn btn-primary">
              Confirmar cambios
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      const selectOperacion = document.getElementById("operacion"); //Nico hizo esto
      const administradaSelected = document.getElementById("administrada"); //obtener el nuevo select
      const btnAgregarCuil = document.getElementById("btnAgregarCuil");
      const cuil = document.getElementById("cuil");
      const cuilsAgregados = document.getElementById("cuilsAgregados");
      const cuilsGroup = document.getElementById("cuilsGroup");
      btnAgregarCuil.addEventListener("click", capturarDatos);
      const openModal = document.getElementById("openModal"); //Nico hizo esto
      const cuilSeleccionado = {};
      let cuils = [];

      $("#openModal").click(function () {
        bloquearInputs(cuilSeleccionado);
        mostrarConsultasLaborales(cuilSeleccionado);
        $("#myModal").modal("show");
        openModal.style.display = "none";
      });
      function capturarDatos() {
        // me aseguro que no tenga espacios
        cuil.value = cuil.value.trim();
        // me fijo si se encuentra el nuevo CUIL ingresado en el array
        const exists = cuils.find((el) => el.cuil === cuil.value);
        // validaciones
        if (!validarCuil(cuil.value)) {
          alert(
            "Por favor, ingrese el cuil con el siguiente formato XX-XXXXXXXX-X"
          );
          return;
        }
        if (administrada.value === "default") {
          alert("Por favor seleccione una Administrada para continuar");
          return;
        }
        if (operacion.value === "default") {
          alert("Por favor seleccione una operación para continuar");
          return;
        }
        if (exists) {
          alert("El CUIL ingresado ya se ha agregado");
          return;
        }
        // si el cuil es único lo pusheo al array y limpio el input
        const operacionSeleccionada =
          selectOperacion.options[selectOperacion.selectedIndex].text; //Nico hizo esto (captura la operacion seleccionada en ese momento)
        const administradaSeleccionada =
          administradaSelected.options[administradaSelected.selectedIndex].text;
        cuils.push({
          cuil: cuil.value,
          operacion: $("#operacion").val(),
          operacionText: operacionSeleccionada,
          administrada: $("#administrada").val(),
          administradaText: administradaSeleccionada,
          cantidad: Array.from(Array(Math.ceil(Math.random() * 3)).fill()), //  ESTA ES LA CANTIDAD RANDOM DE BURBUJAS QUE VAN A APARECER EN EL TÍTULO (ahora es un array con una cantidad random de undefined)
        }); //Nico hizo esto
        $("#operacion").val("default");
        $("#administrada").val("default");
        cuil.value = "";
        mostrarDatos();
        openModal.style.display = "none"; //Nico hizo esto
      }
      $(document).ready(() => {
        $("#fecha_fin").prop("readonly", true);
      });

      function mostrarDatos() {
        EditarCuils();
        cuilsAgregados.innerHTML = "";
        cuilsGroup.innerHTML = "";
        // a cada cuil le creo su elemento html
        cuils.forEach((cuil) => {
          let item = document.createElement("li");
          item.classList.add("item");
          item.setAttribute("id", cuil.cuil);
          item.innerHTML = `
            <div class="card mb-2">
              <div class="card-header d-flex justify-content-between align-items-center">
                <h5>${cuil.cuil}</h5>
                <button class="btn btn-danger m-2" id=${cuil.cuil}>&times;</button>
              </div>
              <div class="card-body">
                <p class="card-text"><strong>Operación:</strong> ${cuil.operacionText}</p>
                <p class="card-text"><strong>Administrada:</strong> ${cuil.administradaText}</p>
              </div>
            </div>`;
          cuilsAgregados.appendChild(item);

          let div = document.createElement("div");
          div.classList.add("cuilDiv");
          div.setAttribute("id", cuil.cuil);
          div.innerHTML = `
              <p><strong>CUIL:</strong> ${cuil.cuil}</p>
              <p><strong>Operación:</strong> ${cuil.operacionText}</p>
              <p><strong>Administrada:</strong> ${cuil.administradaText}</p>
              `;

          cuilsGroup.appendChild(div);
        });

        document.querySelectorAll(".cuilDiv").forEach((div) => {
          div.addEventListener("click", (event) => {
            event.preventDefault(); // prevent default behavior
            document.querySelectorAll(".cuilDiv").forEach((div) => {
              div.classList.remove("active");
            });
            div.classList.add("active");
            const found = cuils.find((el) => el.cuil === div.id);
            cuilSeleccionado.cuil = found.cuil;
            cuilSeleccionado.operacion = found.operacion;
            cuilSeleccionado.operacionText = found.operacionText;
            cuilSeleccionado.administrada = found.administrada;
            cuilSeleccionado.administradaText = found.administradaText;
            cuilSeleccionado.cantidad = found.cantidad;
            openModal.style.display = "block";
          });
        });

        // les agrego agarro todos los li con la clase item para poder eliminar cada uno
        $(".btn").click(function () {
          eliminar(this);
        });
      }

      // elimina el item de la lista segun el id del elemento html
      function eliminar(item_list) {
        cuils = cuils.filter((el) => el.cuil != item_list.id);
        mostrarDatos();
      }

      // chequeo que el cuil me llegue en el formato correcto
      function validarCuil(cuil) {
        let cuilRegex = /^\d{2}-\d{8}-\d{1}$/;
        return cuilRegex.test(cuil);
      }

      //Nico trabaja por aca//
      const editarCuilsTab = document.getElementById("editarCuils-tab");

      function EditarCuils() {
        // funcion que habilita la seccion de editar cuils si hay o no algo en el array de los cuils
        editarCuilsTab.style.display = cuils.length ? "block" : "none";
      }
      EditarCuils();
      const administradas = [
        {
          id: "30-71459533-0",
          text: "Gestion Agricola S.A.",
          value: "gestion_agricola",
        },
        {
          id: "30-71162186-1",
          text: "Gestion Alimentos S.A.",
          value: "gestion_alimentos",
        },
        {
          id: "30-71539433-9",
          text: "Gestion Estiba S.A.",
          value: "gestion_estiba",
        },
        {
          id: "30-71550412-6",
          text: "Gestion Global S.A.",
          value: "gestion_global",
        },
        {
          id: "30-70787281-7",
          text: "Gestion Integral S.A.",
          value: "gestion_integral",
        },
        {
          id: "30-69323148-1",
          text: "Gestion Laboral S.A.",
          value: "gestion_laboral",
        },
        {
          id: "30-71086059-1",
          text: "Gestion Laboral S.A.",
          value: "gestion_laboral",
        },
      ];
      function pintarSelect() {
        administradas.forEach((el) => {
          const options = document.createElement("option");
          options.setAttribute("value", el.value);
          options.innerHTML = el.text + " " + el.id;
          document.getElementById("administrada").appendChild(options);
        });
      }
      pintarSelect();
      function bloquearInputs(cuilSeleccionado) {
        // este código es para saber CUANDO queremos que el input sea readOnly
        const { operacion } = cuilSeleccionado;
        const anulaciones =
          operacion === "anulacion_baja" || operacion === "anulacion_alta";
        const modificacion_ingreso = operacion === "modificacion_ingreso";
        const modificacion_egreso = operacion === "modificacion_egreso";
        const motivo_baja = operacion === "motivo_baja";
        const condiciones = {
          fecha_inicio_edit: anulaciones || modificacion_egreso || motivo_baja,
          fecha_fin_edit: anulaciones || modificacion_ingreso || motivo_baja,
          motivo_baja_edit:
            anulaciones || modificacion_ingreso || modificacion_egreso,
        };
        document.getElementById("fecha_inicio_edit").readOnly =
          condiciones.fecha_inicio_edit;
        document.getElementById("fecha_fin_edit").readOnly =
          condiciones.fecha_fin_edit;
        $("#motivo_baja_edit").prop("disabled", condiciones.motivo_baja_edit);
      }

      const datosCuil = document.getElementById("datos_adicionalesCuil");
      function mostrarConsultasLaborales(cuilSeleccionado) {
        datosCuil.innerText = "";
        const { cantidad } = cuilSeleccionado;
        cantidad.forEach((cant) => {
          newList = document.createElement("div");
          newList.classList.add("moreInf");
          newList.setAttribute("id", cuilSeleccionado.cuil);
          newList.innerHTML = `<p><strong>Operación:</strong> ${cant}</p>`;
          datosCuil.appendChild(newList);
        });
        document.querySelectorAll(".moreInf").forEach((newList) => {
          newList.addEventListener("click", (event) => {
            event.preventDefault();
            document.querySelectorAll(".moreInf").forEach((newList) => {
              newList.classList.remove("active");
            });
            newList.classList.add("active");
          });
        });
      }
    });
  </script>
</div>
